

body{
    width: 100%;
    overflow-x: hidden;
}


#nav{
   /* border: 1px solid black;  */
   height: 70px;
    top: 0px;
    background-color:black;
    position: fixed;
    width: 100%;
    z-index: +1;

}

a{

    margin: 85px;
    text-decoration: none;
    color: whitesmoke;
} 
a:hover{
color: rgb(255, 0, 0);
}

/* body{
    background-image: url(./img/bmw.jpg);
} */

#img{
    margin-left: 650px;
    padding-top:80px;
    
}
#look{
position:absolute;
bottom: 300px;
margin-left:40px;
color: darkblue;
}

#form{
    text-align: center;
    width: 400px;
    height:260px ;
    border: 1px solid black;
margin-left: 40px;
margin-top: -200px;
background-color: rgb(154, 194, 197);


}  
input{
    margin: 10px;

     display: flex;
     flex-wrap: wrap;
     display: inline-block;
}
hr{
    background-color: black;
    height: 5px;
}

#ride{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
}

#cars{
     display: flex; 
     flex-wrap: wrap;
     flex-wrap: nowrap; 
     

   
}
.box{
    /* border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 1px; */
    width: 350px;
    height: 300px;
    text-align: center;
}


#about{
    position: absolute;
    right: 220px;
    top:1400px;
    margin-top: 100px;
}

#us{
    margin-left: 750px;
    position: relative;
    bottom: 220px;

}



#last{
    text-align: center;                                    
    display: flex;
    flex-wrap: wrap;
}


#end{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background-color: rgb(78, 58, 22);

}

.sai{

    width: 100%;
}

   
   
